<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employees Management System</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>
<body>
    <div th:replace="common/navbar :: navbar"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
                <h1 class = "text-center"> Create New Employee </h1>
                <div class="card-body">
                    <form th:action="@{/employees}" th:object = "${employee}" method="POST">
                        <div class="form-group">
                            <label>Employee First Name</label>
                            <input
                                    type="text"
                                    name="employeeFirstName"
                                    th:field="*{employeeFirstName}"
                                    class="form-control"
                                    placeholder="John"
                            />
                        </div>
                        <div class="form-group">
                            <label>Employee Last Name</label>
                            <input
                                    type="text"
                                    name="employeeLastName"
                                    th:field="*{employeeLastName}"
                                    class="form-control"
                                    placeholder="Doe"
                            />
                        </div>
                        <div class="form-group">
                            <label>Employee Email</label>
                            <input
                                    type="text"
                                    name="employeeEmail"
                                    th:field="*{employeeEmail}"
                                    class="form-control"
                                    placeholder="johndoe@gmail.com"
                            />
                        </div>
                        <div class="form-group">
                            <label class="form-label">Employee Gender</label>
                            <select class="form-select" name="gender">
                                <option th:each="gender : ${T(com.ems.application.enums.Gender).values()}"
                                        th:value="${gender}"
                                        th:text="${gender}">
                                </option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label>Employee DOB</label>
                            <input
                                    type="date"
                                    name="dob"
                                    th:field="*{dob}"
                                    class="form-control"
                                    placeholder=""
                            />
                        </div>
                        <div class="form-group">
                            <label>Employee Joining Date</label>
                            <input
                                    type="date"
                                    name="joiningDate"
                                    th:field="*{joiningDate}"
                                    class="form-control"
                                    placeholder=""
                            />
                        </div>
                        <div class="form-group">
                            <label>Employee Phone Number</label>
                            <input
                                    type="text"
                                    name="phone"
                                    th:field="*{phone}"
                                    class="form-control"
                                    placeholder=""
                            />
                        </div>
                        <div class="form-group">
                            <label>Employee Address</label>
                            <input
                                    type="text"
                                    name="address"
                                    th:field="*{address}"
                                    class="form-control"
                                    placeholder=""
                            />
                        </div>
                        <div class="form-group">
                            <label>Employee Password</label>
                            <input
                                    type="text"
                                    name="employeePassword"
                                    th:field="*{employeePassword}"
                                    class="form-control"
                                    placeholder="Enter Employee Password"
                            />
                        </div>
                        <div class="box-footer">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>

            </div>

        </div>

    </div>
</body>
</html>