<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employees Management System</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>
<body>
<div th:replace="~{common/navbar :: navbar}"></div>
    <div class="container">
        <div class="row">
            <h1>All Employees</h1>
        </div>
        <div class = "row">
            <div class = "col-lg-3">
                <a th:href = "@{/addEmployee}" class = "btn btn-primary btn-sm mb-3"> Add Employee</a>
            </div>
        </div>
        <table class="table table-striped">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Employee ID</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Email</th>
                <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="employees: ${employees}">
                <td th:text="${employees.employeeId}"></td>
                <td th:text="${employees.employeeFirstName}"></td>
                <td th:text="${employees.employeeLastName}"></td>
                <td th:text="${employees.employeeEmail}"></td>
                <td>
                    <div class = "row-lg-3">
                        <a th:href = "@{'/hr/' +  ${employees.employeeId}+ '/delete'}" class = "btn btn-danger btn-sm mb-3">Delete</a>
                        <a th:href = "@{'/hr/' +  ${employees.employeeId}+ '/edit'}" class = "btn btn-primary btn-sm mb-3">Update</a>
                    </div>
                </td>
            </tr>
            </tbody>

        </table>

        <div class = "row">
            <div class = "col-lg-3">
                <a th:href = "@{/deleteEmployees}" class = "btn btn-danger btn-sm mb-3"> Delete All Employee</a>
            </div>
        </div>
    </div>

</body>
</html>